<h1>Edit Cheese @ViewBag.cheeses.Name (id=@ViewBag.cheeses.CheeseId)</h1>
<form method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" id="name" type="text" value="@ViewBag.cheeses.Name" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" name="description" id="description" type="text" value="@ViewBag.cheeses.Description" />
    </div>
    <input type="hidden" value="@ViewBag.cheeses.CheeseId" name="cheeseId" />

    <input type="submit" value="Edit Cheese" />

</form>